<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mitrev.in.mitrev18">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="mitrev.in.mitrev18.application.Revels"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="mitrev.in.mitrev18.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="smallestScreenSize|screenLayout|orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="mitrev.in.mitrev18.activities.CategoryActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="smallestScreenSize|screenLayout|orientation|screenSize"
            android:screenOrientation="portrait"/>

        <receiver
            android:name="mitrev.in.mitrev18.receivers.NotificationReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="mitrev.in.mitrev18.activities.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="smallestScreenSize|screenLayout|orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name="mitrev.in.mitrev18.activities.FavouritesActivity"
            android:configChanges="smallestScreenSize|screenLayout|orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="mitrev.in.mitrev18.activities.ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="smallestScreenSize|screenLayout|orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="mitrev.in.mitrev18.activities.AboutUsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="smallestScreenSize|screenLayout|orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="mitrev.in.mitrev18.activities.DevelopersActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="smallestScreenSize|screenLayout|orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="mitrev.in.mitrev18.activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="smallestScreenSize|screenLayout|orientation|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="mitrev.in.mitrev18.activities.WorkshopsActivity"
            android:configChanges="smallestScreenSize|screenLayout|orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="mitrev.in.mitrev18.activities.EventRegistrationActivity"
            android:parentActivityName="mitrev.in.mitrev18.activities.ProfileActivity"
            android:configChanges="smallestScreenSize|screenLayout|orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="mitrev.in.mitrev18.activities.RegisterTeamActivity"
            android:launchMode="singleTop"
            android:parentActivityName="mitrev.in.mitrev18.activities.EventRegistrationActivity"
            android:configChanges="smallestScreenSize|screenLayout|orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name="mitrev.in.mitrev18.activities.AddTeamMemberActivity"
            android:parentActivityName="mitrev.in.mitrev18.activities.RegisterTeamActivity"
            android:configChanges="smallestScreenSize|screenLayout|orientation|screenSize"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>