<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="revels18.in.revels18">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".application.Revels"
        android:allowBackup="true"
        android:configChanges="smallestScreenSize|screenLayout|orientation|screenSize"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CategoryActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name=".receivers.NotificationReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.FavouritesActivity" />
        <activity
            android:name=".activities.ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AboutUsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.DevelopersActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.WorkshopsActivity" />
        <activity
            android:name=".activities.EventRegistrationActivity"
            android:parentActivityName=".activities.ProfileActivity" />
        <activity
            android:name=".activities.RegisterTeamActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.EventRegistrationActivity" />
        <activity android:name=".activities.AddTeamMemberActivity"
            android:parentActivityName=".activities.RegisterTeamActivity"></activity>
    </application>

</manifest>